footer{
    min-width: 375px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: hsl(0, 0%, 100%);
    
}
button{
    margin: 0 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    
}
.back{
    background-color: white;
    padding: 10px 15px;
}
.back a {
    color: gray;
}
.next{
   background-color: hsl(213, 96%, 18%);
   padding: 10px 15px;
   border-radius: 5px;
}
.next a {
    color: white;
}
.hidden{
    display: none;
}